{% extends "_layout.html" %}
{% block content %}

<style>
a:hover{
    font-weight: bold;
    color: red;
}
</style>

<h1>Stores</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" style="width:20%">ID</th>
            <th scope="col" style="width:35%">Store Name</th>
            <th scope="col" style="width:35%;text-align:center">Number of Warehouses</th>
            <th scope="col" style="width:10%"></th>
        </tr>
    </thead>
    <tbody>
        {% for store in stores %}
        <tr>
            <td>{{store.id}}</td>
            <td><a style="text-decoration:none;color:black" href='/store/{{store.id}}'>{{store.name}}</a></td>
            <td style="text-align:center">{{store.warehouses.count()}}</td>
            <td class="align-center">
                <form action="{{url_for('delete',id_num=store.id)}}" method="post">
                    <button type="submit" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}